.text {
  font-size: 30px;
  margin: 0 auto;
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
}
.main-section {
  display: flex;
  justify-content: center;
}

.container {
  border: 2px solid black;
  padding: 40px;
}
